<div class="top-header">
    <div class="header">
      <div class="header-content d-flex">
        <div class="brand">
          <i class="fa-brands fa-angular pt-2"></i>
          <h4 class="pt-2">Angular</h4>
          <span
            class="ms-5 pt-2"
            (click)="sideMenuCollapse=!sideMenuCollapse;toggleClick()"
            ><i class="fa-solid fa-bars"></i
          ></span>
        </div>
        <div class="header-list">
          <i class="fa-solid fa-sun"></i>
          <i class="fa-solid fa-bell"></i>
          <img src="assets/profile.jpg" alt="" class="profile" />
        </div>
      </div>
    </div>
  </div>