<div class="top-header">
    <div class="header">
        <div class="header-content d-flex">
            <div class="brand">
                <i class="fa-brands fa-angular"></i>
                <h3>Angular</h3>
                <span class="ms-4"><i class="fa-solid fa-bars-staggered"></i></span>
            </div>
            <div class="header-list">
                <i class="bi bi-grid"></i>
                <i class="fa-solid fa-sun"></i>
                <i class="fa-solid fa-bell"></i>
                <i class='bx bx-bell' ></i>
                <!-- <img src="images/profile.jpg" alt="" class="profile" /> -->
            </div>
        </div>    
    </div>
</div>