
<div>
  <app-header (emitoSidebar)="EmitFromHeaderComponent($event)"></app-header>
</div>
<div class="left-sidebar" [style.width]="this.collapseMenu.contentWidth">
  <div class="sidebar-content">
    <div class="menu-items" *ngFor="let menu of menuList; let i = index">
      <div *ngIf="menu.submenu.length" class="menu-lists">
        <a (click)="menuToggle(i)">
          <span class="menuicon" [ngClass]="{'margin_icon': collapseMenu.isCollapsed}" ><i [class]="menu.icon"></i></span>
          <span class="menutitle" *ngIf="!collapseMenu.isCollapsed">{{ menu.title }}</span>
          <span class="submenu-arrow" [ngClass]="{'rotate-arrow': menu.menu }"
          *ngIf="!collapseMenu.isCollapsed"><i class="fa-solid fa-angle-right"></i
          ></span>
        </a>
      </div>
      <div *ngIf="!menu.submenu.length" class="menu-lists">
        <a [routerLink]="menu.routerlink">
          <span class="menuicon" [ngClass]="{'margin_icon': collapseMenu.isCollapsed}">
          <i [class]="menu.icon"></i></span>
          <span class="menutitle" *ngIf="!collapseMenu.isCollapsed">{{ menu.title }}</span>
        </a>
      </div>

      <div class="sub-menu" [ngClass]="{'show-menu': menu.menu}" *ngIf="!collapseMenu.isCollapsed">
        <ul *ngFor="let menu of menuList[i].submenu">
          <li>
            <a [routerLink]="menu.routerlink">{{ menu.childmenu }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
